/* ---- Base Rules ---- */
body {
    background: rgb(136,203,171);
    background: linear-gradient(0deg, rgba(136,203,171,1) 0%, rgba(0,13,60,1) 100%);
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

button:focus {
    box-shadow: none;
    border: none;
}

/* Typeography General*/
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
}

@media only screen and (min-width: 35em){
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
}

h2 {
    border-bottom: 1px solid #cc1;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: #fff;
}

p {
    line-height: 1.6em;
    color: #eee;
}

/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
}


/* ---- Module Rules ---- */

/* Navigation Styles*/
.navbar__menu {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__menu > .navbar__logo {
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Fira Sans';
    color: #11254a;
}

@media (max-width: 768px) {
    .navbar__menu > .navbar__logo {
        font-size: 1.5rem;
    }
}
.navbar__menu ul {
    flex: 1;
    padding-left: 0;
    margin: 0;
    text-align: right;
}

.navbar__menu li {
    display: inline-block;
    transform: skewX(-10deg) skewY(0deg);
    border: 1px solid #000;
}

.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.navbar__menu :is( .menu__link:hover , .menu__link.active-link ) {
    background: #333;
    color: #fff;
    transition: ease 0.3s all;
}

.navbar__menu .navbar__dropdown-toggler {
    display: none;
    background: transparent;
    margin: 0.5rem 0rem 0.5rem auto;
    transition: 0.3s transform;
}

@media (max-width: 768px) {
    .navbar__menu .navbar__dropdown-toggler {
        display: block;
    }
}

.navbar__menu .navbar__dropdown-toggler i {
    font-size: 1.8rem;
}

/* Header Styles */
.page__header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}


/* Footer Styles */
.page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
}

.page__footer p{
    color: #fff;
}

/* Scroll To Top Button Style */
.page__scroll-to-top-btn {
    display: none;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 40;
    right: 10px;
    text-shadow: 0px 0px 5px #242222, 0px 0px 5px #242222cf;
    cursor: pointer;
}

@media (min-width: 576px) {
    .page__scroll-to-top-btn {
        right : 30px;
    }
}
/* ---- Theme Rules ---- */
/* Active Navbar Dropdown toggler Button Styles */
.navbar__menu .navbar__dropdown-toggler.active {
    transform: scale(0.9);
}

/* Navbar Dropdown Styles */
@media (max-width: 768px) {
    .navbar__menu .navbar__dropdown {
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0px;
        background-color: white;
        text-align: start;
        display: flex;
        flex-direction: column;
        transition: 0.3s transform;
        transform-origin: top;
        transform: scaleY(0);
    }

    .navbar__menu .navbar__dropdown.expand { 
        transform: scaleY(1);
    }
}


/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em){
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}

/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

/* ---- Theme State Rules ---- */
/* Header element hide styles */
.page__header.hide {
    display: none !important;
}

/* Active Section Styles */
section.active-section {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

section.active-section .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.active-section .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
	from {
		transform: rotate(0deg)
		           translate(-1em)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-1em) 
		           rotate(-360deg);
	}
}

.page__scroll-to-top-btn.show {
    display: flex !important;
}

.page__scroll-to-top-btn.show::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transform: scaleX(0);
    animation: scaleX 0.5s infinite ease-in-out;
}

/* Scroll To Top button After Element KeyFrame animation  */
@keyframes scaleX {
    50% {
        transform: scaleX(1);
    }
}

.page__scroll-to-top-btn.show i {
    transform: translateY(-50%);
    animation: translateY 0.5s infinite ease-in-out ;
}

/* Scroll To Top Button Icon KeyFrame animation */
@keyframes translateY {
    50% {
        transform: translateY(50%);
    }
}